<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>TRAINECT</title>
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="/images/LogoTrainect.png"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link href="/stylesheets/app.css" rel="stylesheet" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;1,400&family=Nunito:wght@200;300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/1f823f9bf5.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="ui menu">
      <div class="ui container">
        <a href="/">
          <img
            src="https://lh3.googleusercontent.com/proxy/UkZQfPnI81PTKTSy3AHnzAEx_mbPK_esFKZkWEsDh1qkez7f3LXbkbwBg6sBnrgR0h2flqeoIFHLdzqgRsrVCAWDWvg4MQXUmEVN-RvDz65t"
            alt=""
            style="width: 65px; height: 65px; margin: 9px 0"
          />
        </a>
        <% if (!currentUser) { %>
        <a class="item p-3" href="/">HOME</a>
        <a class="item p-3" href="/login">LOGIN</a>
        <% } else { %>
        <a class="item p-4" href="/trips">My TRIPS</a>
        <a class="item p-3" href="/logout"
          ><i class="fa fa-sign-out mr-2" aria-hidden="true"></i>LOGOUT</a
        >
        <% } %>
        <img
          src="/images/LogoTrainect.png"
          alt=""
          style="width: 85px; height: 85px; padding: 4px"
          class="ui right menu"
        />
      </div>
    </div>
  </body>
</html>
