<%- include("partials/header") %>

<div class="ui main text container p-4 border border-secondary">
	<div class="ui huge header text-center">
		Just a step away....	
	</div>
	<form class="ui form" action="/display" method="POST">
		<div class="field">
			<input type="text" name="roll_no" placeholder="Institue Roll No." required> 
		</div>
		<div class="field">
			<input type="text" name="train_no" placeholder="Train No." required>
		</div>
		<button class="ui green big basic button">Display</button>
		<p>
			New user ? <a href="/register">Register</a>
		</p>
	</form>
	
</div>


<%- include("partials/footer") %>