<%- include("partials/header") %>

<div class="ui container">
	<div class="jumbotron">
		<h2>
			Oops something's wrong...Check your URL once again !!
		</h2>
		<a href="/">Go Home</a>
	</div>
</div>


<%- include("partials/footer") %>