<%- include("partials/header") %>

<div class="ui container">
  <h1 class="ui huge header mt-4">
    Oops something's wrong...Check your URL once again :'))
  </h1>
</div>

<%- include("partials/footer") %>
