<%- include("partials/header") %>

<div class="ui container">
	<div class="jumbotron">
		<h3>
			Oops something's wrong...Check your URL once again :'))
		</h3>
		<a href="/">Go Home</a>
	</div>
</div>


<%- include("partials/footer") %>