<%- include("partials/header") %>

<div class="container">
	<div class="jumbotron">
		<h1 class="display-4 text-center">TRAI-N-ECT</h1>
		<p class="lead text-center">Welcome aboard NITCians  <i class="train icon"></i></p>
		<hr class="my-4">
		<h4 class="font-weight-normal">
			This application was made to help students connect with their fellow mates travelling on the same train.
		</h4>
		<ul>
			<li><strong>REGISTER</strong> - when you give your details for the first time.</li>
			<li><strong>DISPLAY</strong> - when you've given the details already and wish to check the list.</li>
		</ul>
		<p>
		  <button class="ui olive basic button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			<i class="far fa-hand-point-right"></i> Some important things to remember
		  </button>
		</p>
		<div class="collapse" id="collapseExample">
			<ol>
				<li>Be very careful while giving the details because you cannot edit them once you've submitted.</li>
				<li>Trainect assumes your data to be very much <strong>authentic</strong>, so do not try any kind of pranks.</li>
				<li>In case of any wrong submission, kindly reach out to the admin to fix them.</li>
				<li>Admin's whatsapp no : 6303555937 ( No pranks plz &#128578; )</li>
			</ol>
		</div>
		Thank you so much for using this app...Have a pleasant and safe journey :') 
	</div>
</div>

<%- include("partials/footer") %>