<%- include("partials/header") %>

<div class="ui main text container p-4 border border-secondary">
  <div class="ui huge header text-center">Your journey details plz</div>
  <form class="ui form" action="/register" method="POST">
    <% if (!currentUser.roll_no){ %>
      <div class="field">
        <input
          type="text"
          name="roll_no"
          placeholder="Institute Roll No"
          required
        />
      </div>
    <% } %> 
    <% if (!currentUser.branch){ %>
      <div class="field">
        <input type="text" name="branch" placeholder="Branch" required />
      </div>
    <% } %>
    <div class="field">
      <input
        type="text"
        name="trip[train_name]"
        placeholder="Train Name"
        required
      />
    </div>
    <div class="field">
      <input
        type="text"
        name="trip[train_no]"
        placeholder="Train No"
        required
      />
    </div>
    <div class="field">
      <label>Date of Travel</label>
      <input type="date" name="trip[date]" required />
    </div>
    <div class="field">
      <input
        type="text"
        name="trip[departure]"
        placeholder="Departing Station (optional)"
      />
    </div>
    <div class="field">
      <input
        type="text"
        name="trip[arrival]"
        placeholder="Arriving Station (optional)"
      />
    </div>
    <button class="ui teal big basic button">Submit</button>
    <p>Already Registered ? Then check out <a href="/trips">My Trips</a></p>
  </form>
</div>

<%- include("partials/footer") %>
