<%- include("partials/header") %>

<div class="ui main text container p-4 border border-secondary">
  <div class="ui huge header text-center">Your journey details plz</div>
  <form class="ui form" action="/register" method="POST">
    <div class="field">
      <input
        type="text"
        name="roll_no"
        placeholder="Institute Roll No"
        required
      />
    </div>
    <div class="field">
      <input type="text" name="branch" placeholder="Branch" required />
    </div>
    <div class="field">
      <input
        type="text"
        name="train_name"
        placeholder="Train Name"
        required
      />
    </div>
    <div class="field">
      <input
        type="text"
        name="train_no"
        placeholder="Train No"
        required
      />
    </div>
    <div class="field">
      <label>Date of Travel</label>
      <input type="date" name="date" required />
    </div>
    <div class="field">
      <input
        type="text"
        name="departure"
        placeholder="Departing Station (optional)"
      />
    </div>
    <div class="field">
      <input
        type="text"
        name="arrival"
        placeholder="Arriving Station (optional)"
      />
    </div>
    <button class="ui teal big basic button">Submit</button>
    <p>Already Registered ? Then check out <a href="/trips">My Trips</a></p>
  </form>
</div>

<%- include("partials/footer") %>
