<%- include("partials/header") %>

<div class="ui container">
	<div class="jumbotron">
		<h2>
			Oops seems like you haven't registered...
		</h2>
		<a href="/register">Register to know the details</a>
	</div>
</div>


<%- include("partials/footer") %>