body {
  font-size: 1.3em;
  /* background: rgb(34, 193, 195);
  background: linear-gradient(
    201deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(245, 227, 190, 1) 100%
  ); */
  background: rgb(34,193,195);
background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(234,255,247,1) 100%);
}

.ui.header {
  font-family: "Comic Neue", cursive;
  font-weight: 100;
}

.ui.main.text.container {
  box-shadow: 0 0px 0px 0px white, 0 2px 0px 0px white,
    6px 0 8px -4px rgba(0, 0, 0, 0.4), -6px 0 8px -4px rgba(0, 0, 0, 0.4);
  background-color: white;
}

.ui.menu {
  background: #0f3057;
  border-radius: 0;
}

.ui.menu .item {
  color: white;
}

.ui.card .meta {
  font-size: 0.8em;
}
.jumbotron {
  font-family: "Nunito", sans-serif;
  margin-top: 1rem;
  /* background: aliceblue; */
  /* background: #e7e7de; */
  background: #e6ffec
}

.hey {
  font-size: xx-large;
}

.show-image{
	width: 60px;
	border-radius: 50px;
}

#showHeader {
	font-family: unset;
	font-weight: 300;
  }

.jumbotron h3 {
  font-size: 1.5rem;
}
.jumbotron h1 {
  font-family: "Times New Roman", Times, serif;
}

.jumbotron h2 {
  font-family: "Comic Neue", cursive;
}

.jumbotron h1 span {
  font-family: "Comic Neue", cursive;
}

footer {
  text-align: center;
  font-family: serif;
  font-size: small;
}
